{% extends 'base.html' %}

{% block content %}
<style>
    /*.form-group {
        margin-bottom: 5%;
        display: flex;
        flex-direction: row; 
        font-family: 'Inter', sans-serif;
        justify-content: space-between;
    }
*/
    label {
        margin-bottom: 0;
        
    }

    select, input {
        width: 40%;
        padding: 10px;
        font-size: 0.8em;
        margin-bottom: 15px; /* Add some space between form elements */
        border: 1px solid #ccc;
        border-radius: 5px;
       
    }
</style>
<div class="container_title">
   
</div> 
<div class="form-wrapper">
    <div class="container_content">
        <form method="POST" action="{{ url_for('preliminary1') }}">
            <div class="form-group form-group-inline">
                <label for="gender">Sex</label>
                <select id="gender" name="gender">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
            </div>

            <div class="form-group form-group-inline">
                <label for="ethnicity">Ethnicity</label>
                <select id="ethnicity" name="ethnicity">
                    <option value="asian">Asian</option>
                    <option value="south asian">South Asian</option>
                    <option value="black">Black</option>
                    <option value="hispanic">Hispanic</option>
                    <option value="Latino">Latino</option>
                    <option value="middle eastern">Middle Eastern</option>
                    <option value="Native Indian">Native Indian</option>
                    <option value="Hacifica">Pacifica</option>
                    <option value="White European">White European</option>
                    <option value="mixed">Mixed</option>
                    <option value="Others">Others</option>        
                </select>
            </div>

            <div class="form-group form-group-inline">
                <label for="birthday">Birthday</label>
                <input type="date" id="birthday" name="birthday">
            </div>

            <div class="button-container">
                <button type="button" class="back-button">Back</button>
                <button type="submit" class="next-button">Next</button>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}
